Body {
    height: 100%;
    width: 100%;
    background: rgba(75, 156, 211,.2);
}
.navBarContainer {
    font-size: 1.2rem;
}

.navBrand {
    font-size: 1.6rem;
}

.landingPageCard {
    height: 40vh;
    border: 2px solid black;
}

.landingPageCardTitle {
    font-size: 1.5rem;
}

.courseList {
    font-size: 1.5rem;
}

.courseList li  {
    transition: all .2s ease-in-out;
}

.courseList li:hover {
    transform: scale(1.1);
    cursor: pointer;
}
