Body {
    height: 100%;
    width: 100vw;
    background: rgba(75, 156, 211,.2);
    overflow-x: hidden;
    overflow-y: auto;
}

.routes {
    height: 85%;
    width: 100%;
}
.navBarContainer {
    font-size: 1.2rem;
}

.navBrand {
    font-size: 1.6rem;
}

.landingPageCard, .homePageCard{
    height: 40vh;
    border: 2px solid black;
}

.landingPageCardTitle, .homePageCardTitle {
    font-size: 1.5rem;
}

.courseList {
    font-size: 1.5rem;
}

.navBarContainer {
    font-size: 1.2rem;
    width: 100vw;
}

.navBrand {
    font-size: 1.6rem;
}

.courseList {
    font-size: 1.5rem;
}

.courseList li, .tool-bag{
    transition: all .2s ease-in-out;
}

.courseList li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.scroll-btn{
    transition: all .2s ease-in-out;
}

.scroll-btn.not-disabled:hover{
    transform: scale(1.3);
    background: rgba(75, 156, 211,.2);
}

.simulation-container {
    margin-bottom: 7rem;
}

.phet-sim {
    width: 85%;
    height: 60vh;
}

.phet-sim-preview{
    width: 80%;
    height: 50vh;
    box-shadow: 4px 4px 2px gray;
}

.phet-sim-preview-alt {
    font-size: 2rem;
}

.phet-sim-preview-alt {
    width: 100%;
}

.graph {
    width: 250px;
    height: 250px;
}

.card-title {
 font-size: 5px;
}

.questions-card-body, .graph-card-body, .build-card-body {
    background: rgba(210,180,140, .3);
}

.questions-card-body, .build-card-body {
    height: 80vh;
    overflow-y: auto;
}

.build-card{
    width: 45vw;
    height: 100vh;
}

.card-title {
    font-size: 1.5rem;
}

.question-sub-header{
    font-size: 1rem;
}

.frqTextArea{
    min-height: 100px;
}

.authentication-card {
    max-height: 80vh;
    min-height: 40vh;
    width: 45vw;
    border: 2px solid black;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.profile-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.course-button {
    padding: 5px 15px;
    border: none;
    margin:0 0.3em 0.3em 0;
    text-decoration:none;
    transition: all 0.2s;
}

.logout-button {
    color: gray;
    font-size: 1.2rem;
}
.logout-button:hover {
    color: lightgray;
}

.register-button, .login-button {
    width: 100px;
    padding: 5px 15px;
    border: none;
    margin:0 0.3em 0.3em 0;
    text-decoration:none;
    transition: all 0.2s;
}
.course-button:hover, .register-button:hover, .login-button:hover {
    border: none;
}